body, main{
    font-family: montserrat, sans-serif;
    background-color: black;
    color: #eee;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*Whole site*/

.main{
    display: flex;
    height: 97vh;
    flex-direction: column;
    margin: 0.5em;
}

/*Whole site end*/

/*Navbar Starts*/

.navbar{
    flex: 1;
    /*border: 2px solid red;*/
    background-color: black;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

/*left-nav Starts*/

.left-nav{
    flex: 1 1 4rem;
    /*border: 2px solid red;*/
    border-radius: 1em;
    display: flex;
    align-items: center;
}

.logo{
    background-image: url("./assets/logo2.png");
    height: 2.2rem;
    width: 2.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0.5rem 1.3rem;
}

#btn{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #121212;
    color: white;
    opacity: 0.7;
}

#btn:hover{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #121212;
    color: white;
    opacity: 1;
}

.search .fa-magnifying-glass{
    position: absolute;
    padding: 15px;
}
#box{
    background-color: #121212;
    border-radius: 5rem;
    border: none;
    padding: 16px 66px 16px 48px;
    font-weight: 600;
    font-size: 14px;
    width: 350px;
    /*height: 3rem;*/
    opacity: 0.7;
}

#box:hover{
    background-color: #121212;
    border-radius: 5rem;
    border: none;
    padding: 16px 66px 16px 48px;
    font-weight: 600;
    font-size: 14px;
    width: 350px;
    /*height: 3rem;*/
    opacity: 1;
}

.search .fa-window-maximize{
    position: absolute;
    padding: 15px;
    left: 33.7em;
    opacity: 0.7;
}

.search .fa-window-maximize:hover{
    position: absolute;
    padding: 15px;
    left: 33.7em;
    opacity: 1;
}

a{
    text-decoration: none;
    color: white;
}

.option{
    position: sticky;
    top: 0;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    font-weight: 600;
}

.icon i{
    opacity: 0.7;
}

.icon i:hover{
    opacity: 1;
}

/*left-nav Ends*/

/*right-nav Starts*/

.right-nav{
    flex: 1;
    /*border: 2px solid red;*/
    border-radius: 1em;
    display: flex;
    gap: 0.1rem;
    align-items: center;
    justify-content: flex-end;
}

#btn-nav{
    background: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.7;
}

#btn-nav:hover{
    background: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    opacity: 1;
}

.right-nav a{
    font-weight: 600;
    opacity: 0.7;
    margin: 0 1.8rem;
}

.right-nav a:hover{
    font-weight: 600;
    opacity: 1;
    margin: 0 1.8rem;
}

#btn-log{
    border: none;
    border-radius: 30px;
    width: 6rem;
    height: 3rem;
    font-weight: 800;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

/*right-nav Ends*/

/*Navbar Ends*/

.container{
    flex:9;
    border: 2px solid red;
    border-radius: 1em;
    display: flex;
    margin: 0.5em 0em;
    gap: 0.5em;
}

/*Sidebar-Starts*/

.sidebar{
    flex: 1;
    border: 2px solid red;
    background-color: #121212;
    border-radius: 1em;
}

/*Sidebar-Ends*/

.main-content{
    flex: 2.4;
    border: 2px solid red;
    background-color: #121212;
    border-radius: 1em;
    overflow: auto;
}

.play{
    /*position: sticky;*/
    flex: 1;
    border: 2px solid red;
    background-color: black;
    border-radius: 1em;
    bottom: 0;
}

/*.lib-box{
    overflow: auto;
}

.box{
    background-color: #232323;
    height: 9rem;
    margin: 1rem 0.5rem;
    border-radius: 1rem;
    padding: 0.4rem 1rem 0.1rem 1rem;
}
.p2-box{
    font-size: 0.8rem;
}

.badge{
    border: none;
    border-radius: 20px;
    width: 8.5rem;
    height: 2.4rem;
    font-weight: 800;
    font-size: 0.9rem;
    margin-top: 15px;
}

.badge1{
    border: none;
    border-radius: 20px;
    width: 9.5rem;
    height: 2.4rem;
    font-weight: 800;
    font-size: 0.9rem;
    margin-top: 15px;
}

.tags{
    position: sticky;
    bottom: 0;
}

.tagslist{
    padding: 1rem 1.5rem 0.8rem 1.3rem;
    font-size: 0.6rem;
    line-height: 2rem;

}

.lang{
    border-color: white;
    border-radius: 20px;
    width: 6rem;
    height: 2rem;
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 25px;
    background-color:  #121212;
    color: white;
    opacity: 0.7;
}

.lang:hover{
    border-color: white;
    border-radius: 20px;
    width: 6rem;
    height: 2rem;
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 25px;
    background-color:  #121212;
    color: white;
    opacity: 1;
}

.tagslist a{
    margin-left: 8px;
}*/