body, main{
    font-family: montserrat, sans-serif;
    background-color: black;
    color: #eee;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*Whole site*/

.main{
    display: flex;
    height: 97vh;
    flex-direction: column;
    margin: 0.5em;
    gap: 0.3em;
}

/*Whole site end*/

/*Navbar Starts*/

.navbar{
    flex: 1;
    /*border: 2px solid red;*/
    background-color: black;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

/*left-nav Starts*/

.left-nav{
    flex: 1 1 4rem;
    /*border: 2px solid red;*/
    border-radius: 1em;
    display: flex;
    align-items: center;
}

.logo{
    background-image: url("./assets/logo2.png");
    height: 2.2rem;
    width: 2.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0.5rem 1.3rem;
}

#btn{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #121212;
    color: white;
    opacity: 0.7;
}

#btn:hover{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #121212;
    color: white;
    opacity: 1;
}

.search .fa-magnifying-glass{
    position: absolute;
    padding: 15px;
}
#box{
    background-color: #121212;
    border-radius: 5rem;
    border: none;
    padding: 16px 66px 16px 48px;
    font-weight: 600;
    font-size: 14px;
    width: 350px;
    /*height: 3rem;*/
    opacity: 0.7;
}

#box:hover{
    background-color: #121212;
    border-radius: 5rem;
    border: none;
    padding: 16px 66px 16px 48px;
    font-weight: 600;
    font-size: 14px;
    width: 350px;
    /*height: 3rem;*/
    opacity: 1;
}

.search .fa-window-maximize{
    position: absolute;
    padding: 15px;
    left: 33.7em;
    opacity: 0.7;
}

.search .fa-window-maximize:hover{
    position: absolute;
    padding: 15px;
    left: 33.7em;
    opacity: 1;
}

a{
    text-decoration: none;
    color: white;
}

.icon i{
    opacity: 0.7;
}

.icon i:hover{
    opacity: 1;
}

/*left-nav Ends*/

/*right-nav Starts*/

.right-nav{
    flex: 1;
    /*border: 2px solid red;*/
    border-radius: 1em;
    display: flex;
    gap: 0.1rem;
    align-items: center;
    justify-content: flex-end;
}

#btn-nav{
    background: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.7;
}

#btn-nav:hover{
    background: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    opacity: 1;
}

.right-nav a{
    font-weight: 600;
    opacity: 0.7;
    margin: 0 1.8rem;
}

.right-nav a:hover{
    font-weight: 600;
    opacity: 1;
    margin: 0 1.8rem;
}

#btn-log{
    border: none;
    border-radius: 30px;
    width: 6rem;
    height: 3rem;
    font-weight: 800;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

/*right-nav Ends*/

/*Navbar Ends*/

.container{
    flex:10;
    /*border: 2px solid red;*/
    border-radius: 1em;
    display: flex;
    /*margin: 0.2em 0em 0.5em 0em;*/
    gap: 0.5em;
    height: 80%;
}

/*Sidebar-Starts*/

.sidebar{
    flex: 1;
    /*border: 2px solid red;*/
    background-color: #121212;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    height: auto;
    /*align-content: space-between;*/
    /*gap: 3rem;*/
    scrollbar-gutter: stable;
}

.option{
    background-color: #121212;
    /*height: 28px;*/
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    font-weight: 600;
    font-size: 1.3vw;
    border-radius: 0.5em 0.5em 0em 0em;
    flex: 0.25;
    /*border: 2px solid red;*/
}

.lib-box{
    overflow: auto;
    flex: 1.25;
    /*height: 59%;*/
    /*border: 2px solid red;*/
  /*  display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

.box{
    background-color: #232323;
    height: 7.7rem;
    margin: 0rem 0.4rem 1rem 0.4rem;
    border-radius: 0.5rem;
    padding: 0.4rem 1rem 0.1rem 1rem;
    line-height: 0.7rem;
}

.p1-box{
    font-size: 0.9rem;
    font-weight: 700;
}

.p2-box{
    font-size: 0.8rem;
    font-weight: 500;
}

.badge{
    border: none;
    border-radius: 1.5rem;
    width: 8rem;
    height: 2rem;
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.badge1{
    border: none;
    border-radius: 20px;
    width: 9rem;
    height: 2rem;
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.tags{
    position: sticky;
    bottom: 0;
    flex: 1;
    /*height: 37%;*/
    /*border: 2px solid red;*/
    border-radius: 0em 0em 0.5em 0.5em;
}

.tagslist{
    margin-top: 2rem;
    padding: 0rem 3rem 2rem 1.3rem;
    font-size: 0.65rem;
    line-height: 2rem;
}

.tagslist a{
    margin-right: 1rem;
    opacity: 0.7;
}

#extra:hover{
    text-decoration: underline;
    opacity: 1;
}

.lang{
    border: 2px white solid;
    border-radius: 20px;
    width: 6rem;
    height: 2rem;
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 15px;
    background-color:  #121212;
    color: white;
    opacity: 0.7;
}

.lang:hover{
    border: 1.5px white solid;
    border-radius: 20px;
    width: 6rem;
    height: 2rem;
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 15px;
    background-color:  #121212;
    color: white;
    opacity: 1;
}

/*Sidebar-Ends*/

/*Main-Starts*/

.main-content{
    flex: 2.3;
    /*border: 2px solid red;*/
    background-color: #121212;
    border-radius: 1em;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.card{
    background-color:  transparent;
    width: 150px;
    border-radius: 0.5rem;
    padding: 0.7rem;
    /*margin-left: 1.5rem;*/
}

.card:hover{
    background-color:  #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 0.7rem;
    /*margin-left: 1.5rem;*/
}

.cards-container{
    display: flex;
    /*flex-wrap: wrap;*/
}

.c-img{
    width: 100%;
    border-radius: 0.5rem;
}

.c-title{
    font-weight: 600;
}

.c-info{
    font-size: 0.8rem;
    opacity: 0.8;
}

/*Main-Ends*/

.play{
    position: sticky;
    flex: 1;
    border: 2px solid red;
    background-color: black;
    border-radius: 1em;
    bottom: 0;
}

